html
	head
	body(style='text-align: center;')
		.company-logo
			img(src='http://i.imgur.com/ksTX3ao.png', style='height: auto; width: 150px; padding-bottom: 30px;')
		hr
		.buzz-logo
			img(src='http://i.imgur.com/xAFoDpN.png', style='height: 30vh; width: auto; padding: 50px;')
		p.content(style='font-size: 150%;')
			!{content}
		.cover-image
			img(src='http://i.imgur.com/alPkQV4.png', style='height: 20vh; width: auto; padding-top: 30px;')
		p.contact-footer(style='padding-bottom: 40px')
			| For any concerns please let us know
			br
			| +91-9723242341 | contact@hile.in
