@font-face {
    font-family: hh-ikaro;
    src: url('web-fonts/ikaros.otf') format("opentype");
}

@font-face {
    font-family: h-quest;
    src: url('web-fonts/Quest.otf') format("opentype");
}

@font-face {
    font-family: hs-laila;
    src: url('web-fonts/Laila-Light.ttf') format('truetype');
}

@font-face {
    font-family: h-lato;
    src: url('web-fonts/Lato-Regular.ttf') format('truetype');
}

