<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Household-In-a-Mile</title>
    <!-- CSS  -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet"
          href="font/fonts.css">
    <link rel="hile icon" href="images/banner/new_fav.ico" type="image/x-icon" />
    <!--  Scripts-->
    <script src="./libs/jquery-2.1.1.min.js"></script>
    <script src="./libs/hello.all.min.js"></script>
    <script src="bundle.js"></script>
    <!--  Plugins-->
</head>

<body ng-app="Hile"
      ng-cloak ng-controller="MainController as landing">
<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"
                       aria-label="Settings"
                       ng-click="landing.toggleSideNav('left')">
                <md-icon md-svg-icon="menu"></md-icon>
                <md-tooltip md-direction="bottom right">
                   click to see options
                </md-tooltip>
            </md-button>
            <h2>
                <a href="/"><span><img src="/images/banner/hile_low_res_new.png" style="max-height:40px;"></span></a>
            </h2>
            <span flex></span>
            <span style="display: inline-flex" >
               <md-button class="md-icon-button s-icon" aria-label="facebook"
                          href="https://www.facebook.com/hiledotin/"
                          target="_blank">
                   <md-icon md-svg-icon="facebook-box"></md-icon>
               </md-button>
                 <md-button class="md-icon-button s-icon" aria-label="twitter"
                            href="https://twitter.com/hiledotin"
                            target="_blank">
                     <md-icon md-svg-icon="twitter-box"></md-icon>
                 </md-button>

            </span>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left">
        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>

            <div layout="column"
                 class="md-toolbar-tools-bottom inset"
                 ng-if="landing.checkLoggedInUser()"
                style="text-align: center;">
                <!--<user-avatar></user-avatar>-->
                <span></span>

                <div>{{landing.loggedInUser.name}}</div>
                <div>{{landing.loggedInUser.email}}</div>
                <div>
                    <md-button class="md-primary md-raised"
                               ng-click="landing.logoutUser(landing.loggedInUser.email)">Logout
                        <md-icon md-svg-icon="logout"></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="column"
                 class="md-toolbar-tools-bottom inset"
                 ng-if="!landing.checkLoggedInUser()"
                 style="text-align: center;">
                <div>Welcome to Hile</div>
                <div>login to see your details!!</div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in landing.menu">
                <a ng-click="landing.takeMeToState(item.link)">
                    <md-item-content md-ink-ripple
                                     layout="row"
                                     layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-divider></md-divider>
            <div ng-if="landing.checkLoggedInUser()">
                <md-subheader>User Options</md-subheader>
                <md-list-item ng-repeat="item in landing.userOptions"
                              ng-click="landing.takeMeToState(item.link)">
                    <a>
                        <md-item-content md-ink-ripple
                                         layout="row"
                                         layout-align="start center">
                            <div class="inset">
                                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-list-item>
            </div>
        </md-list>
    </md-sidenav>
</div>
<!--All content changes from here on the basis of routing mechanisms-->
<div ui-view
     class="main-content" id="route-content">

</div>
</body>


<!-- Angular Dependencies -->
<script src="./libs/ng-lodash.min.js"></script>

</html>
